Package: cn.fkj233.watchfix.mod
Name: WatchFix
Version: 2.0.4
Architecture: iphoneos-arm64
Description: Fix Apple watch connection issues
Maintainer: 577FKJ
Author: 577FKJ
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
