<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFPluginManifest</key>
	<dict>
		<key>WFPluginDetail</key>
		<string>plugin.WatchUpdateBlock.detail</string>
		<key>WFPluginHasInstallableContent</key>
		<true/>
		<key>WFPluginInjectionTargets</key>
		<dict>
			<key>Bundles</key>
			<array>
				<string>com.apple.Bridge</string>
				<string>com.apple.SharingViewService</string>
			</array>
			<key>Executables</key>
			<array>
				<string>Bridge</string>
				<string>SharingViewService</string>
				<string>softwareupdateservicesd</string>
			</array>
		</dict>
		<key>WFPluginNanoCapabilities</key>
		<array/>
		<key>WFPluginRestartExecutables</key>
		<array/>
		<key>WFPluginScopeIdentifier</key>
		<string>com.apple.Bridge</string>
		<key>WFPluginTitle</key>
		<string>plugin.WatchUpdateBlock.title</string>
	</dict>
</dict>
</plist>
