<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PUI_BUILD_INFO_SECTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>watchFixReleaseName:</string>
			<key>label</key>
			<string>PUI_RELEASE_NAME</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>watchFixVersionNumber:</string>
			<key>label</key>
			<string>PUI_VERSION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>watchFixBuildNumber:</string>
			<key>label</key>
			<string>PUI_BUILD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>watchFixBuildType:</string>
			<key>label</key>
			<string>PUI_BUILD_TYPE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PUI_LINKS_SECTION</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PUI_GITHUB_LAUNCHER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openPatreon:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PUI_PATREON_LAUNCHER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openAfdian:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PUI_AFDIAN_LAUNCHER</string>
		</dict>
	</array>
	<key>title</key>
	<string>WatchFix</string>
</dict>
</plist>
